(
    mobs: {
        "SlimeMage": (
            base: (
                mob_type: SlimeMage,
                health: ( current: 50.0, max: 50.0 ),
                move_speed: ( speed: 1.5 ),
            ),
            name : None,
            damage: Some(Magic(5.0)),
            mana: Some((current: 30.0, max: 30.0)),
        ),
        "Skeleton": (
            base: (
                mob_type: Skeleton,
                health: ( current: 30.0, max: 30.0 ),
                move_speed: ( speed: 1.3 ),
            ),
            name: None,
            damage: Some(Physical(6.0)),
            mana: None,
        ),
        "Gothmog": (
            base: (
                mob_type: MiniBoss,
                health: ( current: 200.0, max: 200.0 ),
                move_speed: ( speed: 1.0 ),
            ),
            name: Some("Gothmog The Balrog"),
            damage: Some(Hybrid (
                physical: 15.0,
                magic: 10.0,
            )),
            mana: Some((current: 50.0, max: 50.0)),
        )
    }
)